<% layout('admin/Boilerplate') %>


<h3 class="modal-title text-dark mb-4">New Project</h3>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Add Project</p>
    </div>
    <div class="card-body">
        <div class="modal-body">
            <form class="validated-form" id="postForm" method="post" action="/admin/addportfolio"
                enctype="multipart/form-data" novalidate>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="portfolio[title]" class="form-control" id="postTitle" required />
                </div>

                <div class="form-group">
                    <label for="title">Client</label>
                    <input type="text" name="portfolio[client]" class="form-control" id="postTitle" required />
                </div>

                <div class="form-group">
                    <label for="eventDate">Project Date</label>
                    <input class="form-control" id="eventDate" name="portfolio[projectDate]" type="date">
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="portfolio[category]" class="form-control" id="postCategory" required>
                        <% if(categoryData.length){ %>
                        <% for(let index =0; index<categoryData.length; index++){%>
                        <option value="<%= categoryData[index].title%>"><%= categoryData[index].title%></option>
                        <% } %>
                        <% } %>
                    </select>
                </div>


                <div class="form-group">
                    <label for="image">Upload Thumbnail Image</label>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="thumbImage" required />
                        <label for="image" class="custom-file-label">Choose File</label>
                        <small class="form-text text-muted">Better to use < 3Mb</small>
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea name="editor1" class="form-control" id="postBody" required></textarea>
                        <small class="form-text text-muted">to paste use ctrl + shift + v</small>
                    </div>
                </div>



                <button class="btn btn-primary float-right" data-dismiss="modal" style="margin: 30px 50px">
                    Add Project
                </button>
            </form>
        </div>
    </div>
</div>