<% layout('client/Boilerplate') %>

<main>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Our Services</p>
            </header>

            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <div>
                            <img src="assets/img/Impact.jpg" alt="" width="60%" height="150px"
                                style="border-radius: 10%" />
                        </div>
                        <h3>Impact Evaluation</h3>
                        <p>
                            Please put an explanation of this service here. Please put an
                            explanation of this service here. Please put an explanation of
                            this service here. Please put an explanation of this service
                            here. Please put an explanation of this service here.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <div>
                            <img src="assets/img/Impact.jpg" alt="" width="60%" height="150px"
                                style="border-radius: 10%" />
                        </div>
                        <h3>Monitoring, Collaborating, Learning & Adapting</h3>
                        <p>
                            Please put an explanation of this service here. Please put an
                            explanation of this service here. Please put an explanation of
                            this service here. Please put an explanation of this service
                            here. Please put an explanation of this service here.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <div>
                            <img src="assets/img/Impact.jpg" alt="" width="60%" height="150px"
                                style="border-radius: 10%" />
                        </div>
                        <h3>Performance Evaluation</h3>
                        <p>
                            Please put an explanation of this service here. Please put an
                            explanation of this service here. Please put an explanation of
                            this service here. Please put an explanation of this service
                            here. Please put an explanation of this service here.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <div>
                            <img src="assets/img/Impact.jpg" alt="" width="60%" height="150px"
                                style="border-radius: 10%" />
                        </div>
                        <h3>Strategy, Performance & Capacity Building</h3>
                        <p>
                            Please put an explanation of this service here. Please put an
                            explanation of this service here. Please put an explanation of
                            this service here. Please put an explanation of this service
                            here. Please put an explanation of this service here.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <div>
                            <img src="assets/img/Impact.jpg" alt="" width="60%" height="150px"
                                style="border-radius: 10%" />
                        </div>
                        <h3>Velit Doloremque.</h3>
                        <p>
                            Cumque et suscipit saepe. Est maiores autem enim facilis ut
                            aut ipsam corporis aut. Sed animi at autem alias eius labore.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <div>
                            <img src="assets/img/Impact.jpg" alt="" width="60%" height="150px"
                                style="border-radius: 10%" />
                        </div>
                        <h3>Dolori Architecto</h3>
                        <p>
                            Hic molestias ea quibusdam eos. Fugiat enim doloremque aut
                            neque non et debitis iure. Corrupti recusandae ducimus enim.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Thematic areas we focus on</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/features.png" class="img-fluid" alt="" />
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">
                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>
                                    Agricultural Development, Rural Livelihoods and Food
                                    Security
                                </h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>
                                    Capacity Development, Human Resource Management,
                                    Organizational, and Change management studies
                                </h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Education</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Gender and Youth Analysis</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>
                                    Health (Reproductive and Family Health, Nutrition and
                                    WASH)
                                </h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Natural Resources Management and Environment</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / row -->
            <div>
                <button class="btn btn-primary" style="margin-left: 40%; margin-top: 20px">
                    <a href="Portfolio.html" style="color: white; text-decoration: none">View Some of Our Past
                        Projects</a>
                </button>
            </div>
        </div>
    </section>
    <!-- End Features Section -->
</main>